{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Startpage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'js/node_modules/weather-underground-icons/dist/wu-icons-style.css' %}">
        <script src="{% static 'js/mainpage.js' %}"></script>
        <script>
            function search(elem) {
                if(event.key === 'Enter') {
                    let query = elem.value.trim();
                    query = encodeURIComponent(query);
                    query = query.replaceAll("%20", "+")
                    if(query === '') return;
                    let url = "{{ search_url }}".replaceAll("%s", query);

                    save_and_go(url);
                }
            }
        </script>
    </head>
    <body class="dark_body">
        <div class='top_div hcentered'>
            <br>
            <div class="title_text">Good {{ part_of_day }}, {{ name }}!</div>
            <br>

            <div class="currency_text data_text">
                {% for currency_text in currency_list %}
                    {{ currency_text }}<br>
                {% endfor %}
            </div>
            <div class="settings_button">
                <a href="{% url 'settings' %}" class="box48 settings-white-48"></a>
            </div>

            <div class="wu wu-64 wu-white {{ day_night_classname }} {{ weather_classname }}"></div>
            <div class="data_text lh_64">{{ temperature }} °C</div>
            <div class="inline_block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="icon-class box64 clock-white-64 inline_block"></div>
            <div class="data_text lh_64" id="clock">{{ clock_initial }}</div>
            <div class="inline_block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="icon-class box64 calendar-white-64 inline_block"></div>
            <div class="data_text lh_64">{{ datetime_string }}</div>
            <br><br>

            {% if search_engines %}
                <input type="text" class="input_box" placeholder="Search with {{ search_engine_name }}!" onkeypress="search(this)">
            {% else %}
                <input type="text" class="input_box" placeholder="No search engine provided!" disabled>
            {% endif %}
        </div>

        <div class="contents_div">

            {% for category in categories %}
            <div class="hcentered content_box">
                <div class="hcentered content_title">{{ category.name }}</div>
                <div class="content_body">
                    {% for content in category.content %}
                        <a class="content_cell" href="{{ content.url }}">{{ content.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>