{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Startpage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'js/node_modules/weather-underground-icons/dist/wu-icons-style.css' %}">
        <script>
            function save_settings() {
                fetch('/save_settings/');
            }

            function search(elem) {
                if(event.key === 'Enter') {
                    let query = elem.value.trim().replace(" ", "+");
                    if(query === '') return;
                    let url = "{{ search_url }}".replace("%s", query);

                    fetch('/save_settings/').then(response => {
                        window.location.href = url;
                    });
                }
            }

            function updateClock() {
              const now = new Date();
              const hours = now.getHours().toString().padStart(2, '0');
              const minutes = now.getMinutes().toString().padStart(2, '0');
              const seconds = now.getSeconds().toString().padStart(2, '0');
              const timeString = `${hours}:${minutes}:${seconds}`;

              document.getElementById('clock').innerHTML = timeString;
            }

            window.onbeforeunload = save_settings;

            setInterval(updateClock, 250);
            updateClock();
        </script>
    </head>
    <body bgcolor='#262A33'>
        <div class='top_div hcentered'>
            <br>
            <div class="title_text">Good {{ part_of_day }}, {{ name }}!</div>
            <br>

            <div class="currency_text data_text">1$ = 999₺<br>1€ = 999₺</div>

            <div class="wu wu-64 wu-white {{ day_night_classname }} {{ weather_classname }}"></div>
            <div class="data_text lh_64">{{ temperature }} °C</div>
            <div class="inline_block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="icon-class box64 clock-white-64 inline_block"></div>
            <div class="data_text lh_64" id="clock">{{ clock_initial }}</div>
            <div class="inline_block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="icon-class box64 calendar-white-64 inline_block"></div>
            <div class="data_text lh_64">{{ datetime_string }}</div>
            <br><br>

            <input type="text" class="input_box" placeholder="Search with {{ search_engine_name }}!" onkeypress="search(this)">
        </div>
    </body>
</html>