{% load static %}
{% load space_to_hyphen %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/settings.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body class="dark_body settings_body">

    <h1 class="settings_label big_title">Name</h1>
    <div class="form_row">
        <input type="text" class="form-control settings_input_box_small" id="nameOption" placeholder="Enter your name" value="{{ name }}">
    </div><br>

    <h1 class="settings_label big_title">Location</h1>
    <div id="map" style="height: 400px; width: 800px;"></div>
    <form class="form_row">
        <label class="settings_label" for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" value="{{latitude}}" readonly>
    </form>
    <form class="form_row">
        <label class="settings_label" for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" value="{{longitude}}" readonly>
    </form><br>


    <h1 class="settings_label big_title">Search Engines</h1>
    <div class="search_engines_div">
        <div id="search_engines">
            {% for engine_name, url in search_engines.items %}
                <div class="form_row">
                    <label class="settings_label mx-2">Name</label>&nbsp;&nbsp;
                    <input type="text" class="form-control settings_input_box_small" placeholder="Name" value="{{ engine_name }}" id="search-engine-name-{{ engine_name|space_to_hyphen }}" readonly>
                    <label class="settings_label mx-2">Url</label>&nbsp;&nbsp;
                    <input type="text" class="form-control settings_input_box_big" placeholder="Url" value="{{ url }}" id="search-engine-url-{{ engine_name|space_to_hyphen }}" readonly>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger settings_plusminus" onclick="removeSearchEngine(this);"><img src="../static/css/icons/ui/close.png" alt=""/></button>
                </div>
            {% endfor %}
        </div><br>

        <h4 class="settings_label">Add A Search Engine&nbsp;&nbsp;</h4>
        <div class="form_row">
            <label class="settings_label mx-2">Name</label>&nbsp;&nbsp;
            <input type="text" class="form-control settings_input_box_small" placeholder="Name" id="add_search_engine_name">
            <label class="settings_label mx-2">Url</label>&nbsp;&nbsp;
            <input type="text" class="form-control settings_input_box_big" placeholder="Url. Put %s for the query" id="add_search_engine_url">&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary settings_plusminus" onclick="addSearchEngine(this);"><img src="../static/css/icons/ui/plus.png"/></button>
        </div><br>

        <div class="form_row">
            <h4 class="settings_label">Current Search Engine</h4>&nbsp;&nbsp;
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" id="search_engine_dropdown">{{ search_engine_name }}</button>
                <div class="dropdown-menu" id="search-engine-dropdown">
                    {% for engine_name, url in search_engines.items %}
                        <a class="dropdown-item" href="javascript:void(0);" data-value="{{ engine_name }}" onclick="selectItem(this);" id="search-engine-choice-{{ engine_name|space_to_hyphen }}">{{ engine_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<!--    CURRENCY CONVERSIONS-->
    <h1 class="settings_label big_title">Currency Conversions</h1>
    <div class="currencies_div">
        <div id="currency-list">
            {% for currency in currencies %}
                {% for base, target in currency.items %}
                    <div class="form_row">
                        <label class="settings_label mx-2">Base</label>&nbsp;&nbsp;
                        <input type="text" class="form-control settings_input_box_small currency_base_class" placeholder="Base Currency" value="{{base}}" readonly>
                        <label class="settings_label mx-2">Target</label>&nbsp;&nbsp;
                        <input type="text" class="form-control settings_input_box_small currency_target_class" placeholder="Target Currency" value="{{target}}" readonly>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger settings_plusminus" onclick="removeParentGenerations(this, 1);"><img src="../static/css/icons/ui/close.png" alt=""/></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div><br>
        <h4 class="settings_label">Add A Currency Conversion</h4>
        <div class="form_row">
            <label class="settings_label mx-2">Base</label>&nbsp;&nbsp;
            <input type="text" class="form-control settings_input_box_small" placeholder="Base" id="add-currency-base">
            <label class="settings_label mx-2">Target</label>&nbsp;&nbsp;
            <input type="text" class="form-control settings_input_box_small" placeholder="Target" id="add-currency-target">&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary settings_plusminus" onclick="addCurrency(this);"><img src="../static/css/icons/ui/plus.png"/></button>
        </div><br>
    </div>

<!--    CONTENTS -->
    <h1 class="settings_label big_title">Contents</h1>
    <div class="categories_div">
        <div class="categories-list" id="categories_list">
            {% for category in categories %}
                <div class="category_row">
                    <h2 class="settings_label settings_content_title category_title">{{category.name}}</h2>
                    <div id="{{category.name|space_to_hyphen}}-website-list">
                        {% for content in category.content %}
                            <div class="form_row">
                                <label class="settings_label mx-2">Name</label>&nbsp;&nbsp;
                                <input type="text" class="form-control settings_input_box_small content_website_name" placeholder="Name" value="{{content.name}}" readonly>
                                <label class="settings_label mx-2">Url</label>&nbsp;&nbsp;
                                <input type="text" class="form-control settings_input_box_big content_website_url" placeholder="Url" value="{{content.url}}" readonly>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger settings_plusminus" onclick="removeParentGenerations(this, 1);"><img src="../static/css/icons/ui/close.png" alt=""/></button>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <h4 class="settings_label">Add a website to this category</h4>
                    <div class="form_row">
                        <label class="settings_label mx-2">Name</label>&nbsp;&nbsp;
                        <input type="text" class="form-control settings_input_box_small" placeholder="Name" id="{{category.name|space_to_hyphen}}-add-website-name">
                        <label class="settings_label mx-2">Url</label>&nbsp;&nbsp;
                        <input type="text" class="form-control settings_input_box_big" placeholder="Url" id="{{category.name|space_to_hyphen}}-add-website-url">&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary settings_plusminus" onclick="addWebsiteToCategory(this, '{{category.name|space_to_hyphen}}');"><img src="../static/css/icons/ui/plus.png"/></button>
                    </div>
                    <button class="btn btn-danger" onclick="removeParentGenerations(this, 1);">Delete This Category</button>
                    <br><br><br>
                </div>
            {% endfor %}
            <br>
        </div>
        <h2 class="settings_label">Add a category</h2>
        <div class="form_row">
            <label class="settings_label mx-2">Name</label>&nbsp;&nbsp;
            <input type="text" class="form-control settings_input_box_small" placeholder="Name" id="add-category-name">
            <button class="btn btn-primary settings_plusminus mx-2" onclick="addCategory(this);"><img src="../static/css/icons/ui/plus.png"/></button>
        </div>
    </div><br><br><br>

    <button class="btn btn-primary" onclick="saveSettings();">Save Settings!</button>
    <button class="btn btn-danger" onclick="resetSettings();">Reset Settings!</button>
    <button class="btn btn-success" onclick="returnToStartPage();">Return to Start Page!</button>

    <script>
        // Initialize the map
        let map = L.map('map').setView([{{latitude}}, {{longitude}}], 13); // Default view is London

        // Add a tile layer (you can use any tile provider)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Initialize a marker
        let marker = L.marker([{{latitude}}, {{longitude}}], {
            draggable: true
        }).addTo(map);

        // Update input fields when the marker is dragged
        marker.on('dragend', function (e) {
            let latlng = marker.getLatLng();
            document.getElementById('latitude').value = latlng.lat.toFixed(6);
            document.getElementById('longitude').value = latlng.lng.toFixed(6);
        });
    </script>

</body>
</html>
